/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bkg-color);
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  padding: 0px 10px;
  min-width: 375px;
  max-width: 1024px;
  background-image: var(--bkg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
/* ************************   HEADER   ********************* */

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 10px;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decore-color);
  border-inline-end: 1px solid var(--decore-color);
}

.header::after {
  content: "";
  inset-inline-start: 0;
  inset-block-end: 10px;
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decore-color);
  border-inline-start: 1px solid var(--decore-color);
}

.header__rec {
  position: absolute;
  inset-inline-end: 30px;
  inset-block-start: 10px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4px var(--accent-color);
  position: absolute;
  inset-inline-end: -16px;
  inset-block-start: 10px;
}

.header__theme-menu {
  justify-self: end;
  block-size: 98px;
}

.header__theme-menu-list {
  margin-block-start: 0px;
  display: grid;
  gap: 13px;
  line-height: 1.3;
}

.header__h1 {
  color: var(--header-footer);
  text-shadow: 4px 4px var(--shadow-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 97px;
}

.header__text {
  background-color: var(--accent-color);
  color: var(--header-color);
  font-size: inherit;
  margin-block-end: 10px;
  font-weight: 700;
}

/* ***********************    BUTTON     ************************ */

.header__theme-menu-button {
  color: var(--button-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  inline-size: 70px;
  padding-block-end: 0px;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  display: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

/* *********************    SECTION WHY     ****************** */

.why {
  margin-block-start: 40px;
}

/* *********************    SECTION WHAT     ****************** */
.what {
  display: grid;
  margin-block-start: 50px;
}

/* *********************    SECTION HOW    ****************** */

.how {
  margin-block-start: 50px;
}

/* *********************    SECTION IMAGES    ****************** */
.images {
  margin-block-start: 50px;
  margin-block-end: 40px;
}

.how__images-block {
  margin-block-start: 10px;
  display: grid;
  gap: 10px;
}

img {
  display: block;
  width: 100%;
}

/* *********************    DECOR    ****************** */
.h2 {
  color: var(--header-h2);
  font-size: inherit;
  font-weight: 700;
}

.h3 {
  margin-block-start: 21px;
}

.h3,
.h4 {
  background-color: var(--accent-color);
  color: var(--header-color);
  font-weight: 700;
  font-size: inherit;
}

.h4 {
  font-weight: 400;
  margin-block-start: 20px;
}

.text {
  color: var(--text-color);
  line-height: 1.3;
  margin-block-start: 10px;
}

.link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}
.link:hover {
  border-block-end: 2px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

/* ************************   FOOTER   ********************* */

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__heading {
  font-size: 116px;
  color: var(--header-footer);
  text-shadow: 2px 2px 0 var(--shadow-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.footer::before {
  content: "";
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 10px;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decore-color);
  border-inline-end: 1px solid var(--decore-color);
}

.footer::after {
  content: "";
  inset-inline-start: 0;
  inset-block-end: 10px;
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decore-color);
  border-inline-start: 1px solid var(--decore-color);
}

/* ************************   MEDIA   ********************* */

/* 768 and 1024  breakpoints */

@media (588px <= width) {
  .page {
    padding: 0px 20px;
  }

  .header__rec {
    inset-block-start: 25px;
  }

  .header::before,
  .footer::before {
    inset-block-start: 20px;
  }
  .header::after,
  .footer::after {
    inset-block-end: 20px;
  }

  .header__h1 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-block-start: 60px;
  }

  .what,
  .how,
  .images {
    margin-block-start: 80px;
  }

  .images {
    margin-block-end: 60px;
  }
  
  .why__heading {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .how {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .how__images-block {
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 20px;
    margin-block-start: 20px;
  }

  .sunset {
    grid-column: 1/3;
    object-fit: cover;
  }

  .ice-cream {
    grid-column: 3/3;
    grid-row: 1/3;
    object-fit: cover;
  }

  .books {
    object-fit: cover;
  }

  .tape {
    grid-column: 1/1;
    grid-row: 2/4;
    object-fit: cover;
  }

  .street {
    grid-column: 2/4;
  }
  .why__first {
    margin-block-start: 0;
  }

  .how__first .h3 {
    margin-block-start: 0;
  }
}

/* ************************   588 - 1023   ********************* */

@media (588px <=width < 1024px) {
  .page {
    /* max-width: 768px; */
  }

  .header {
    block-size: 100vh;
    min-block-size: 1024px;
  }

  .header__text {
    width: 364px;
    justify-self: end;
  }

  .h2 {
    width: 236px;
  }

  .footer {
    block-size: 100vh;
    min-block-size: 1024px;
  }
}
/* ************************   1024   ********************* */

@media (1024px <=width) {
  .header {
    block-size: 100vh;
    min-block-size: 768px;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 13px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 20px;
  }

  .header__text {
    width: 491px;
    justify-self: end;
  }

  .h2 {
    inline-size: 315px;
  }
  .what {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .what__heading {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .footer {
    block-size: 100vh;
    min-block-size: 768px;
  }
}
